.input{
  min-width: 377px;
  margin-right: 12px;
}

.buttonAdd{
  min-width: 121px;
  margin-right: 12px;
}

.buttonDelette{
  min-width: 108px;
  margin-right: 80px;
}

.buttonReset{
  min-width: 119px;
}

.controlContainer{
  display: flex;
  width: fit-content;
  margin: 0 auto;
}

.circlesContainer{
  display: flex;
  width: fit-content;
  max-width: 944px;
  flex-direction: row;
  flex-flow: wrap;
  margin: 50px auto 0;
}

.circle{
  margin-right: 16px;
  margin-bottom: 78px;
}

.circle:nth-child(10n){
  margin-right: 0;
}

.circle:last-child{
  margin-right: 0;
}